@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Raleway:wght@400;500&display=swap");

* { margin: 0px; padding: 0px; box-sizing: border-box; font-family: Raleway, sans-serif;text-decoration: none; }


main { 
    width: 1200px; 
    margin: auto; }


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 79px auto 100px auto;
    text-align: center;
    background-color: rgb(109, 117, 236);
    width: 74%;
    height: 124px;
    padding: 20px;
    }
.title {margin: 20px auto 87px auto;}

section {
   
     display: flex;
     align-items: center;
     }


.row {
    width: 50%;
    color: black;
    font-size: 30px; 
    vertical-align: top;
}

.row li {
    list-style: none;
}

span {
    font-weight: 700;
    font-size: 48px;
    display: inline-block;
    margin-bottom: 30px;
   
}


.image {
    width: 80%;
    margin-left: 88px;
}


h1{ 
    color: white; 
    font-size: 50px; }

li { 
    font-size: 27px; 
    margin-bottom: 14px; }



.link {font-size: 32px;
    margin-bottom: 32px;
display: flex;
align-items: center;
}

.drive{
    width: 52px !important;
    height: 52px;
}

.contacto a, .contacto a:visited {
    display: inline-block;
    color: black;
    margin-bottom: 2px;
    }

section a,section a:visited {
    font-weight:500 ;
    color: rgb(109, 117, 236); 
    
}

i, .drive {
    display: inline-block;
    margin-right: 15px;
    font-size: 60px;
}
.fa-twitter-square {
    color: #1DA1F2;
}
.fa-envelope {
    color: red;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width:600px) {
    
    main {
        width: 100%;  
    }
    
    .titulo{
    width: 100%;
    height: auto;
        }

    h1 {font-size: 1.875em;}

    section, .row {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    span{
        font-size: 2em;}
    .contacto a, li {font-size: 0.7em;}

    .image  {margin: auto;}
    .hide {
        display: none;
    }

}

@media screen and (min-width:601px) and (max-width: 768px) {
    main {margin: auto;}
}
